@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  line-height: 1;
  box-sizing: border-box;
  font-family: inherit;
  color: inherit;
  font-family: inherit;
}

:root {
  --pink: rgb(185, 67, 87);
  --shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px
}

input,
button {
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}

html,
body {
  font-family: "Poppins" , sans-serif;
  width: 100%;
  min-height: 100vh;
}

ul, ol { 
  list-style-type: none;
}