#MyUsers {
  min-height: 100vh;
  background-color: #222;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    margin: 1rem 0;
    line-height: 1.2;
  }

  input , button { 
    margin: 10px 0;
    font-size: 1.2rem;
    padding: 10px;
  }
  
  button { 
    cursor: pointer;
    background-color: cornflowerblue;
    color: white;
  }

}